@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-dancing: var(--font-dancing-script);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/images/background.jpg");
  color: var(--foreground);
  font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Dancing Script", Arial, Helvetica, Verdana, Trebuchet MS;
}
